/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_part {
  max-width: 109.73rem;
  width: 100%;
  height: 8.625rem;
  margin-top: 1.25rem;
  border-radius: 60px;
  background-color: #9c86cd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_part .logo {
  margin-left: 60px;
}
header .header_part .menu {
  width: 35.438rem;
  height: 4.875rem;
  margin-right: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_part .menu .about_project {
  padding: 0;
  border: none;
  background: none;
  width: 20.688rem;
  height: 4.875rem;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.5s;
}
header .header_part .menu .about_project:hover {
  transition-duration: 0.5s;
  background-color: #1d1e4a;
}
header .header_part .menu .video {
  padding: 0;
  border: none;
  background: none;
  width: 9.75rem;
  height: 4.875rem;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.5s;
}
header .header_part .menu .video:hover {
  transition-duration: 0.5s;
  background-color: #1d1e4a;
}
header .header_part .menu button {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.75rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .section_about_project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 113.687rem;
  height: 43.678rem;
  margin-top: 60px;
}
main .section_about_project .text_section {
  max-width: 1640px;
  width: 100%;
  height: 12.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .section_about_project .text_section h1 {
  color: #1d1e4a;
  font-size: 65px;
  font-weight: bold;
}
main .section_about_project .text_section p {
  color: #252525;
  font-size: 24px;
  font-weight: 400;
}
main .section_about_project .artwork {
  width: 50rem;
  height: 21.875rem;
  margin-top: 82.14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=global.css.map */