$mainColor: #9c86cd;
$hoverColor: #1d1e4a;
$titleColor: #1d1e4a;
$menuTextcolor: #ffffff;
$textColor: #252525;

$mobile: 30rem;
$tablet: 64rem;
$macbook: 80rem;

$blueColor: #9c86cd;
$darkBlueColor: #9c86cd;
$whiteColor: rgba(255, 255, 255, 1);
$blackColor: rgba(0, 0, 0, 1);
$lightBlackColor: rgba(7, 0, 47, 1);
$normalBlueColor: #9c86cd;
