@import "./utils/mixins";
@import "./utils/variables";

.section_about_project {
  @include display_flex(center, center);
  flex-direction: column;
  max-width: 1500.99px;
  margin: auto;
  height: 53.991rem;
  margin-top: 3.75rem;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  background-image: url(/img/chess-figure-group-left.svg),
    url(/img/chess-figure-group-right.svg), url(/img/chess-figure.svg);
  background-repeat: no-repeat;
  background-position: left (30px) bottom, right (30px) bottom,
    left (38px) top (20px);

  .text_section {
    max-width: 86.25rem;
    height: 25.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 57px;

    h1 {
      @include title-text_styles($titleColor, 3rem, 700);
      line-height: 4rem;
    }
    p {
      @include text_styles($textColor, 1.5rem, 400);
      line-height: 2rem;
    }
  }

  .artwork {
    width: 48.75rem;
    height: 21.875rem;
    margin-top: 3.125rem;
    @include display_flex(space-between, center);
  }
}
