@import "./utils/mixins";
@import "./utils/variables";

.how-to-use-app {
  width: 100%;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;

  .how-to-use-app-childe {
    max-width: 86.25rem;
    min-height: 39.125rem;
    margin: auto;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    @media screen and (max-width: $macbook) {
      max-width: 1000px;
    }
    @media screen and (max-width: $tablet) {
      max-width: 604px;
    }
    @media screen and (max-width: $mobile) {
      max-width: 277px;
    }

    .how-to-use-app-title {
      @include title-text_styles($titleColor, 3rem, 700);
      @include title-responsive;
    }

    .chess-figures {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
      row-gap: 4.5rem;
      // column-gap: 1.25rem;
      margin-top: 2.5rem;

      .chess-card {
        max-width: auto;
        min-height: 9.188rem;
        display: flex;
        @media screen and (max-width: $tablet) {
          display: block;
        }

        img {
          width: 7.188rem;
          height: 7.188rem;
          margin-right: 1.25rem;
          float: left;
          @media screen and (max-width: $macbook) {
            width: 5.313rem;
            height: 5.313rem;
          }
          @media screen and (max-width: $tablet) {
            width: 5.313rem;
            height: 5.313rem;
            margin-right: 0rem;
          }
          @media screen and (max-width: $mobile) {
            width: 4.375rem;
            height: 4.375rem;
          }
        }

        .figure-card-text {
          // display: flex;
          // flex-direction: column;
          // justify-content: space-between;

          .figure-title {
            font-size: 1.75rem;
            line-height: 2.375rem;
            color: $textColor;
            font-weight: 600;
            @media screen and (max-width: $macbook) {
              font-size: 1.5rem;
              line-height: 2rem;
            }
            @media screen and (max-width: $tablet) {
              font-size: 1.5rem;
              line-height: 2rem;
            }
            @media screen and (max-width: $mobile) {
              font-size: 1.125rem;
              line-height: 1.5rem;
            }
          }

          .figur-text {
            font-size: 1.5rem;
            line-height: 2rem;
            color: $textColor;
            @media screen and (max-width: $macbook) {
              font-size: 1rem;
              line-height: 1.313rem;
            }
            @media screen and (max-width: $tablet) {
              font-size: 1rem;
              line-height: 1.313rem;
            }
            @media screen and (max-width: $mobile) {
              font-size: 1rem;
              line-height: 1.313rem;
            }
          }
        }
      }
    }
  }
}
