@import "./utils/mixins";
@import "./utils/reset";
@import "./utils/variables";

main {
  .section_about_project {
    position: relative;
    .chess-figure {
      .chess-figure-group-left {
        position: absolute;
        bottom: 0rem;
        left: 0rem;
        z-index: -1;
      }
      .chess-figure-group-rigt {
        position: absolute;
        bottom: 2.063rem;
        right: 0rem;
        z-index: -1;
      }
      .chess-figure {
        position: absolute;
        top: 0rem;
        left: 1.688rem;
        z-index: -1;
      }
    }
  }
}

.video-page2 {
  .video-page-download {
    position: relative;
    margin-bottom: 3.75rem;
    .video-page-chess-figure-group-left {
      position: absolute;
      bottom: 0rem;
      left: 0rem;
      z-index: -1;
    }
    .video-page-chess-figure-group-rigt {
      position: absolute;
      bottom: 0rem;
      right: 0rem;
      z-index: -1;
    }
  }
}
