@import "./utils/mixins";
@import "./utils/variables";

.download-app {
  width: 100%;
  margin: auto;
  @media screen and (max-width: $macbook) {
    display: none;
  }

  .download-app-conteiner {
    max-width: 72.25rem;
    height: 18.063rem;
    margin: auto;
    @include display_flex(space-between);
    flex-direction: column;
    margin-top: 3.75rem;

    h1 {
      @include title-text_styles($titleColor, 3rem, 700);
    }
    .button-conteiner {
      width: 72.25rem;
      height: 11.5rem;
      @include display_flex(space-between);

      .download-button {
        width: 33.625rem;
        height: 11.5rem;
        @include button_no_decor;
        background-color: $mainColor;
        border-radius: 2.5rem;
        @include nav_bar_hover;
        @include text_styles($color: $menuTextcolor, $size: 2rem, $weigt: 600);
        cursor: pointer;
      }
    }
  }
}
