@import "./utils/mixins";
@import "./utils/reset";
@import "./utils/variables";

header {
  @include display_flex(center, center);

  .header_part {
    max-width: 109.73rem;
    width: 100%;
    height: 8.625rem;
    margin-top: 1.25rem;
    border-radius: 60px;
    background-color: $mainColor;
    @include display_flex(space-between, center);

    .logo {
      margin-left: 60px;
    }
    .menu {
      width: 35.438rem;
      height: 4.875rem;
      margin-right: 60px;
      @include display_flex(space-between, center);

      .about_project {
        @include button_no_decor;
        width: 20.688rem;
        height: 4.875rem;
        border-radius: 40px;
        @include display_flex(center, center);
        cursor: pointer;
        @include nav_bar_hover;
      }

      .video {
        @include button_no_decor;
        width: 9.75rem;
        height: 4.875rem;
        border-radius: 40px;
        @include display_flex(center, center);
        cursor: pointer;
        @include nav_bar_hover;
      }

      button {
        @include navigation_font_style();
      }
    }
  }
}

main {
  @include display_flex();

  .section_about_project {
    @include display_flex(center, center);
    flex-direction: column;
    width: 113.687rem;
    height: 43.678rem;
    margin-top: 60px;

    .text_section {
      max-width: 1640px;
      width: 100%;
      height: 12.75rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h1 {
        @include text_styles($titleColor, 65px, bold);
      }
      p {
        @include text_styles($textColor, 24px, 400);
      }
    }

    .artwork {
      width: 50rem;
      height: 21.875rem;
      margin-top: 82.14px;
      @include display_flex(space-between, center);
    }
  }
}
